:root {
    --grey: #555;
    --light-grey: #d0d0d0;
}

.grid-container {
    width: 100%;
    margin: 0;
    height: 90vh;
    display: flex;
    border: 0px solid black;
    transition: 1s ease;
    font-family: "Lucida Console", "Courier New", monospace;
}

/* The side navigation menu */
.sidebar {
    margin: 0;
    background-color: var(--light-grey);
    position: fixed;
    height: fit-content;
    overflow-x: visible;
    border-top: 0px solid transparent;
    -webkit-overflow-scrolling: touch;
    border-radius: 5%;
}

/* Sidebar links */
.sidebar a {
    display: block;
    color: black;
    padding: 1em;
    text-decoration: none;
}

/* Links on mouse-over */
.sidebar a:hover {
    background-color: var(--grey);
    color: white;
}

.sidebar a:not(:last-child) {
    border-bottom-style: solid;
    border-width: 0.1em;
}

/* Hide the link that should open and close the navbar on small screens */

.main-content {
    margin-right: 20%;
    margin-left: 20%;
}

/* Hide the link that should open and close the navbar on small screens */
.side-button {
    display: none;
    position: fixed;
    z-index: 999;
    width: 3em;
    height: 3em;
    background: var(--light-grey);
    border-radius: 100%;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    left: 1em;
    top: 1em;
}

.side-button:before {
    position: absolute;
    content: "";
    width: 1.5em;
    height: 0.1em;
    background: black;
    transform: rotate(90deg);
    transition: all 0.4s ease;
}

.side-button:after {
    position: absolute;
    content: "";
    width: 1.5em;
    height: 0.1em;
    background: black;
    transition: all 0.4s ease;
}

#toggle {
    -webkit-appearance: none;
}

#toggle:checked~div.sidebar {
    opacity: 1;
}

#toggle:checked~.side-button:before {
    transform: rotate(225deg);
}

#toggle:checked~.side-button:after {
    transform: rotate(135deg);
}

/* When small screens */
@media screen and (max-width: 600px) {

    .sidebar {
        opacity: 0;
        height: auto;
        transition: all 0.4s ease-in-out;
        padding-top: 3em;
    }

    .side-button {
        display: flex;
    }

    .main-content {
        margin-right: 0em;
        margin-left: 4em;
    }
}
